{% load staticfiles %}

  	<head>
				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<title>Business Details</title>
				<link rel="stylesheet" href="{% static 'CSS/exp.css' %}">
			 <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet" type='text/css'>
			 <link rel="stylesheet" href="CSS/main.css">
			 <script type="text/javascript">
			 function changeList(State,City){
var ArunachalPradesh = new Array('','Along','Basar','Bomdila','Itanagar','Khonsa','Margherita');
var AndhraPrdesh = new Array('','Vishakapatnam','Kurnool','Anantapur','Amaravati','Dharmavaram');
var Assam = new Array('','Guwahati','Silchar','Dibrugarh','Jorhat','Nagaon','Tin sukia','Tezpur');
var Bihar = new Array('','Patna','Purnia','katihar','Saharsa','Motihari','Sitamarhi');
var Chhattisgarh = new Array('','Raipur','Bilaspur','Rajnandgaon','Ambikapur','Chirmiri','Dhamtari');
var Goa = new Array('','Bicholim','Manpusa','Panaji','Quepem','Valpoi');
var Gujarat = new Array('', 'Ahmedabad', 'Surat ', 'Vadodara', 'Rajkot');
var Haryana = new Array('', 'Faridabad', 'Panipat', 'Ambala', 'Hisar');
var HimachalPradesh = new Array('', 'Shimla', 'Manali', 'Dharamshala', 'Dalhousie');
var JammuandKashmir = new Array('', 'Jammu', 'Srinagar', 'Leh', 'Gulmarg');
var Jharkhand = new Array('', 'Jamshedpur', 'Ranchi', 'Dhanbad', 'Bokaro Steel City');
var Karnataka = new Array('', 'Bengalore', 'Mangalore', 'Hubli', 'Belgaum');
var Kerala = new Array('', 'Kochi', 'Thiruvananthapuram', 'Kollam', 'Kannur');
var MadhyaPradesh = new Array('', 'Indore', 'Bhopal', 'Jabalpur', 'Gwalior');
var Maharashtra = new Array('', 'Mumbai', 'Pune', 'Nagpur', 'Nasik');
var Manipur = new Array('','Imphal East', 'Imphal West', 'Kakching', 'Bishnupur');
var Meghalaya = new Array('', 'Shillong','Tura','Cherrapunji','Mawsynram');
var Mizoram = new Array('', 'Aizawl','Champai','Linglei','Thenzawl');
var Nagaland = new Array('','Kohima', 'Dimapur', 'Wokha','Tuensang');
var Odisha = new Array ('', 'Bhusbaneswar','Cuttack', 'Sambalpur', 'Rourkela');
var Punjab = new Array('', 'Chandigarh','Ludhiana', 'Jalandhar','Amritsar');
var Rajasthan=new Array('','Jaipur','Jodhpur','Udaipur','Jaisalmer');
var Sikkim = new Array('','Gangtok','Pelling','Lachung','Lachen');
var TamilNadu = new Array('', 'Chennai', 'Coimbatore','Madurai','Ooty');
var Telangana=new Array('', 'Hyderabad','Warangal','Khammam','Nizamabad');
var Tripura=new Array('', 'Agartala', 'Dharmanagar','Amarpur', 'Kamalpur');
var UttarPradesh = new Array('', 'Lucknow', 'Varanasi','Kanpur','Agra');
var Uttarakhand=new Array('','Dehradun','Rishikesh','Haridwar','Mussoorie');
var WestBengal=new Array('','Kolkata','Siliguri','Asansol','Kharagpur');

switch (State.value)
{case 'ArunachalPradesh':
document.getElementById(City).options.length=0;
for(i = 0; i<ArunachalPradesh.length; i++)
{createOption(document.getElementById(City),ArunachalPradesh[i] , ArunachalPradesh[i]);}
break;
case 'AndhraPradesh':
document.getElementById(City).options.length=0;
for(i = 0; i<AndhraPradesh.length; i++)
{createOption(document.getElementById(City),AndhraPradesh[i] , AndhraPradesh[i]);
}
break;
case 'Assam':
 document.getElementById(City).options.length=0;
 for(i = 0; i<Assam.length; i++)
 {createOption(document.getElementById(City),Assam[i] , Assam[i]);
}
break;
case 'Bihar':
 document.getElementById(City).options.length=0;
 for(i = 0; i<Bihar.length; i++)
 {createOption(document.getElementById(City),Bihar[i] ,Bihar[i]);
}
break;
case 'Chhattisgarh':
 document.getElementById(Destination).options.length=0;
 for(i = 0; i<Chhattisgarh.length; i++)
 {createOption(document.getElementById(Destination),Chhattisgarh[i] , Chhattisgarh[i]);
}

break;
case 'Goa':
 document.getElementById(Destination).options.length=0;
 for(i = 0; i<Goa.length; i++)
 {createOption(document.getElementById(Destination),Goa[i] , Goa[i]);
}
break;
case 'Gujarat':
 document.getElementById(Destination).options.length=0;
 for(i = 0; i<Gujarat.length; i++)
 {createOption(document.getElementById(Destination),Gujarat[i] , Gujarat[i]);
}
break;
case 'Haryana':
 document.getElementById(City).options.length=0;
 for(i = 0; i<Haryana.length; i++)
 {createOption(document.getElementById(City),Haryana[i] , Haryana[i]);
}
break;
case 'HimachalPradesh':
 document.getElementById(City).options.length=0;
 for(i = 0; i<HimachalPradesh.length; i++)
 {createOption(document.getElementById(City),HimachalPradesh[i] , HimachalPradesh[i]);
}
break;
case 'JammuandKashmir':
 document.getElementById(City).options.length=0;
 for(i = 0; i<JammuandKashmir.length; i++)
 {createOption(document.getElementById(City),JammuandKashmir[i] , JammuandKashmir[i]);
}
break;
case 'Jharkhand':
 document.getElementById(City).options.length=0;
 for(i = 0; i<Jharkhand.length; i++)
 {createOption(document.getElementById(City),Jharkhand[i] , Jharkhand[i]);
}
break;
case 'Karnataka':
 document.getElementById(City).options.length=0;
 for(i = 0; i<Karnataka.length; i++)
 {createOption(document.getElementById(City),Karnataka[i] , Karnataka[i]);
}
break;
case 'Kerala':
 document.getElementById(City).options.length=0;
 for(i = 0; i<Kerala.length; i++)
 {createOption(document.getElementById(City),Kerala[i] , Kerala[i]);
}
break;
case 'MadhyaPradesh':
 document.getElementById(City).options.length=0;
 for(i = 0; i<MadhyaPradesh.length; i++)
 {createOption(document.getElementById(City),MadhyaPradesh[i] , MadhyaPradesh[i]);
}
break;
case 'Maharashtra':
 document.getElementById(City).options.length=0;
 for(i = 0; i<Maharashtra.length; i++)
 {createOption(document.getElementById(City),Maharashtra[i] , Maharashtra[i]);
}
break;
case 'Manipur':
 document.getElementById(City).options.length=0;
 for(i = 0; i<Manipur.length; i++)
 {createOption(document.getElementById(City),Manipur[i] , Manipur[i]);
}
break;
case 'Meghalaya':
 document.getElementById(City).options.length=0;
 for(i = 0; i<Meghalaya.length; i++)
 {createOption(document.getElementById(City),Meghalaya[i] , Meghalaya[i]);
}
break;
case 'Nagaland':
 document.getElementById(City).options.length=0;
 for(i = 0; i<Nagaland.length; i++)
 {createOption(document.getElementById(City),Nagaland[i] , Nagaland[i]);
}
break;
case 'Odisha':
 document.getElementById(City).options.length=0;
 for(i = 0; i<Odisha.length; i++)
 {createOption(document.getElementById(City),Odisha[i] , Odisha[i]);
}
break;
case 'Punjab':
 document.getElementById(City).options.length=0;
 for(i = 0; i<Punjab.length; i++)
 {createOption(document.getElementById(City),Punjab[i] , Punjab[i]);
}
break;
case 'Rajasthan':
 document.getElementById(City).options.length=0;
 for(i = 0; i<Rajasthan.length; i++)
 {createOption(document.getElementById(City),Rajasthan[i] , Rajasthan[i]);
}
break;
case 'Sikkim':
 document.getElementById(City).options.length=0;
 for(i = 0; i<Sikkim.length; i++)
 {createOption(document.getElementById(City),Sikkim[i] , Sikkim[i]);
}
break;
case 'TamilNadu':
 document.getElementById(City).options.length=0;
 for(i = 0; i<TamilNadu.length; i++)
 {createOption(document.getElementById(City),TamilNadu[i] ,TamilNadu[i]);
}
break;
case 'Telangana':
 document.getElementById(City).options.length=0;
 for(i = 0; i<Telangana.length; i++)
 {createOption(document.getElementById(City),Telangana[i] , Telangana[i]);
}
break;
case 'Tripura':
 document.getElementById(City).options.length=0;
 for(i = 0; i<Tripura.length; i++)
 {createOption(document.getElementById(City),Tripura[i] , Tripura[i]);
}
break;
case 'UttarPradesh':
 document.getElementById(City).options.length=0;
 for(i = 0; i<UttarPradesh.length; i++)
 {createOption(document.getElementById(City),UttarPradesh[i] , UttarPradesh[i]);
}
break;
case 'Uttarakhand':
 document.getElementById(City).options.length=0;
 for(i = 0; i<Uttarakhand.length; i++)
 {createOption(document.getElementById(City),Uttarakhand[i] , Uttarakhand[i]);
}
break;
case 'WestBengal':
 document.getElementById(City).options.length=0;
 for(i = 0; i<WestBengal.length; i++)
 {createOption(document.getElementById(City),WestBengal[i] , WestBengal[i]);
}
break;
}}

function createOption(State, text, value)
{var opt = document.createElement('option');
opt.value=value;
opt.text=text;
State.options.add(opt);
}
function validate()
{
	var BusinessType = document.getElementById("BusinessType").value;
	var Bmobile = document.getElementById("Bmobile").value;
	var mnochk=/^[0-9]{10}$/;
	var BPAN = document.getElementById("BPAN").value;
	var panchk=/^[A-Za-z0-9]{10}$/;
	var B_est = document.getElementById("B_est").value;
	var HNO = document.getElementById("HNO").value;
	var hnochk = /^[0-9-\.\-]{1,10}$/;
	var area = document.getElementById("area").value;
	var areachk = /^[A-Za-z0-9]{3,15}$/;
	var pincode = document.getElementById("pincode").value;
	var pinchk=/^[0-9]{5,6}$/;
	var street = document.getElementById("street").value;
	var streetchk = /^[A-Za-z0-9]{3,15}$/;
	var state = document.getElementById("State").value;
	var city = document.getElementById("City").value;
	var country = document.getElementById("Country").value;

	if(BusinessType==""||Bmobile==""||BPAN==""||B_est==""||HNO==""||area==""||pincode==""||street==""||state==""||city==""||country=="")
	{
		alert("Please enter all the fields");
		document.getElementById("BusinessType").focus();
		return false
	}
	else if(!mnochk.test(Bmobile))
	{
		alert("invalid mobile number!");
		document.getElementById("Bmobile").focus();
		return false
	}
	else if(!panchk.test(BPAN))
	{
		alert("invalid pan number!");
		document.getElementById("BPAN").focus();
		return false
	}
	else if(!hnochk.test(HNO))
	{
		alert("invalid house number!");
		document.getElementById("HNO").focus();
		return false
	}
	else if(!areachk.test(area))
	{
		alert("area is not valid!");
		document.getElementById("area").focus();
		return false
	}
	else if(!streetchk.test(street))
	{
		alert("street given is not valid!");
		documents.getElementById("street").focus();
		return false
	}
	else
	{
       document.forms["Business"].submit();
	   return true
	}
}
</script>
		</head>
		<body>
			<div class="progress">
			<div class="circle done"> <!--add the 'done' class for completed steps-->
			<span class="label">1</span> <!--step number-->
			<span class="title">Loan Details</span> <!--step title-->
			<span class="bar"></span>
			</div>
			<div class="circle active"> <!--add the 'active' class for the current step-->
			<span class="label">2</span>
			<span class="title">Business Details</span>
			<span class="bar"></span>
			</div>
			<div class="circle"> <!--no added class for future steps-->
			<span class="label">3</span>
			<span class="title">Contact Details</span>
			<span class="bar"></span>
			</div>
			<div class="circle"> <!--add the 'done' class for completed steps-->
			<span class="label">4</span> <!--step number-->
			<span class="title">Financial Details</span> <!--step title-->
			<span class="bar"></span>
			</div>
			<div class="circle"> <!--add the 'done' class for completed steps-->
			<span class="label">5</span> <!--step number-->
			<span class="title">Documents</span> <!--step title-->
			</div>
			</div>
			<form action="" method="POST" onsubmit="return validate();">
				{% csrf_token %}
				<h1>Business Details</h1>
				
				<fieldset>
				<label for="BusinessType">Business Type:</label>
				<select name="BusinessType">
					<option value="1">Type1</option>
					<option value="2">Type2</option>
					<option value="3">Type3</option>
					<option value="4">Type4</option>
				</select>
				<br>
				<label for="BusniessName">Business Name:</label>
				<input type="text" id="BusinessName" name="BusinessName" placeholder='Business Name'>
				<br>
				<label for="BusinessContact">Business Mobile Number:</label>
				<input type="Number" id="Bmobile" name="Bmobile" placeholder='Business Contact'>
				<br>
				<label for="BPAN">Business PAN:</label>
				<input type="text" id="BPAN" name="BPAN" placeholder='Business PAN ID'>
				<br>
				<label for="B_est">Establishment Date</label>
				<input type="Date" id="B_est" name="B_est">
				<div>Business Address:<br>
					<label for="HNO">House No:</label>
					<input type="text" id="HNO" name="HNO" placeholder='House Number'>
					<label for="Area">Area:</label>
					<input type="text" id="area" name="area" placeholder='Area'>
					<br>
					<label for="Pincode">Pincode:</label>
					<input type="Number" id="pincode" name="pincode" placeholder='PINCODE'>
					<label for="Street">Street:</label>
					<input type="text" id="street" name="street" placeholder='Street'>
					<br>     
					</select>
					<label for="State">State:</label>
					<select id="State" name="state"onchange="changeList(this,'City'); ">
					 <option value=""> </option>
					 <option value="AndhraPradesh">Andhra Pradesh</option>
					 <option value="ArunachalPradesh">Arunachal Pradesh</option>
					 <option value="Assam">Assam</option>
					 <option value="Bihar">Bihar</option>
					 <option value="Chhattisgarh">Chhattisgarh</option>
					 <option value="Goa">Goa </option>
					 <option value="Gujarat">Gujarat</option>
					 <option value="Haryana">Haryana</option>
					 <option value="HimachalPradesh">Himachal Pradesh</option>
					 <option value="JammuandKashmir">Jammu and Kashmir</option>
					 <option value="Jharkhand">Jharkhand</option>
					 <option value="Karnataka">Karnataka</option>
					 <option value="Kerala">Kerala</option>
					 <option value="MadhyaPradesh">Madhya Pradesh</option>
					 <option value="Maharashtra">Maharashtra</option>
					 <option value="Manipur">Manipur</option>
					 <option value="Meghalaya">Meghalaya</option>
					 <option value="Nagaland">Nagaland</option>
					 <option value="Odisha">Odisha</option>
					 <option value="Punjab">Punjab</option>
					 <option value="Rajasthan">Rajasthan </option>
					 <option value="Sikkim">Sikkim</option>
					 <option value="TamilNadu">Tamil Nadu</option>
					 <option value="Telangana">Telangana</option>
					 <option value="Tripura">Tripura</option>
					 <option value="UttarPradesh">Uttar Pradesh</option>
					 <option value="Uttarakhand">Uttarakhand</option>
					 <option value="WestBengal">West Bengal</option>
				 </select>
				 <br>
				 <label for="City">City:</label>
					<select id="City" name="City">
					</select>
						<br>
				 <label for="Country">Country:</label>
          <select id="Country" name="Country">
            <option value=""> </option>
            <option value="India">India</option>
          </select>
          <br>
					<button type="button" onclick="POST">Back</button>
					<button type="submit" onsubmit="POST">Next</button>
				</div>
			</form>
			</fieldset>
			

		</body>