{% load staticfiles %}

  	<head>
				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<title>Documents</title>
				<link rel="stylesheet" href="{% static 'CSS/exp.css' %}">
			 <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet" type='text/css'>
			 <link rel="stylesheet" href="CSS/main.css">
		</head>
		<body>
				<div class="progress">
				<div class="circle done"> <!--add the 'done' class for completed steps-->
				<span class="label">1</span> <!--step number-->
				<span class="title">Loan Details</span> <!--step title-->
				<span class="bar"></span>
				</div>
				<div class="circle done"> <!--add the 'active' class for the current step-->
				<span class="label">2</span>
				<span class="title">Business Details</span>
				<span class="bar"></span>
				</div>
				<div class="circle done"> <!--no added class for future steps-->
				<span class="label">3</span>
				<span class="title">Contact Details</span>
				<span class="bar"></span>
				</div>
				<div class="circle done"> <!--add the 'done' class for completed steps-->
				<span class="label">4</span> <!--step number-->
				<span class="title">Financial Details</span> <!--step title-->
				<span class="bar"></span>
				</div>
				<div class="circle active"> <!--add the 'done' class for completed steps-->
				<span class="label">5</span> <!--step number-->
				<span class="title">Documents</span> <!--step title-->
				</div>
				</div> 
				<h1>Documents</h1>
				<h1>{{what}}</h1>
				<fieldset>
					<form method="post" enctype="multipart/form-data">
						{% csrf_token %}
					<br>
					<label for="KTP">Upload KTP:</label>    			
          			<input type="file" name="KTP" required>
          			<br>
          			<br>
          			<label for="Family Card">Upload Family Card:</label>
          			<input type="file" name="Family_Card" required>
          			<br>
          			<br>
          			<label for="NPWP">Upload NPWP:</label>
          			<input type="file" name="NPWP" required>
          			<br>
          			<br>
          			<label for="BankStatement">Upload Bank Statement:</label>
          			<input type="file" name="Bank_Statment" required>
          			<br>
          			<br>
    				<button type="submit">Upload</button>

          		</form>
          	</fieldset>
          </body>
