{% load staticfiles %}
<head>
    <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Login</title>
   <link rel="stylesheet" href="static/blog.css">
   <link rel="stylesheet" href="static/exp.css">
</head>
<body>
    <form action="" method="POST">
     {% csrf_token %}
       <h1>Login</h1>

       <fieldset>

         <label for="Eid">Employee ID:</label>
         <input type="text" id="eid" name="eid">

         <label for="password">Password:</label>
         <input type="password" id="password" name="password">


          <button type="submit" onsubmit="Post">Login</button>

        </fieldset>

   </form>
</body>