{% load staticfiles %}
{% block content %}
<html>
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Detailed Info</title>
        <link rel="stylesheet" href="static/blog.css">
        <link rel="stylesheet" href="static/exp.css">    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>    
        <script type="text/javascript">

            

        function getConfirmation() {
               var retVal = confirm("Do you want to Blacklist the Applicant ?");
               if( retVal == true ) {
                  return true;
               } else {
                  return false;
               }
            }
        </script>
   
    </head>
    <body>    
		   <div>
            <h1>Loan Details</h1>
            <table>
                <thead>
                    <tr>
                        <th>Application ID</th>
                        <th>Amount</th>
                        <th>Tenure</th>
                        <th>Date of Application</th>
                        <th>Purpose</th>
                        <th>Frequency</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{Application_Details.Application_ID}}</td>
                        <td>{{Application_Details.Amount}}</td>
                        <td>{{Application_Details.Tenure}}</td>
                        <td>{{Application_Details.Date_Application}}</td>
                        <td>{{Application_Details.Purpose}}</td>
                        <td>{{Application_Details.Frequency}}</td>
                        <td>{{Application_Details.Status}}</td>
                    </tr>
                </tbody>
            </table>      
           </div>
           <br>
           <br>
           <div>
               <h1>Applicant Details</h1>
               <table>
                <thead>
                    <tr>
                        <th>ID </th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Mobile No</th>
                        <th>Email</th>
                        <th>PAN</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{Applicant_Details.Applicant_ID}}</td>
                        <td>{{Applicant_Details.Applicant_Name}}</td>
                        <td>{{Applicant_Details.Applicant_Age}}</td>
                        <td>{{Applicant_Details.Applicant_Gender}}</td>
                        <td>{{Applicant_Details.Applicant_Mobile_No}}</td>
                        <td>{{Applicant_Details.Applicant_Email}}</td>
                        <td>{{Applicant_Details.Applicant_PAN}}</td>
                    </tr>
                </tbody>
            </table>
           </div>
               <h3>Address</h3>
               <table>
                <thead>
                    <tr>
                        <th>House NO </th>
                        <th>Street</th>
                        <th>Locality</th>
                        <th>City</th>
                        <th>PinCode</th>
                        <th>State</th>
                        <th>Country</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{Applicant_Addr.A_House_No}}</td>
                        <td>{{Applicant_Addr.A_Street}}</td>
                        <td>{{Applicant_Addr.A_Locality}}</td>
                        <td>{{Applicant_Addr.A_City}}</td>
                        <td>{{Applicant_Addr.A_PINCode}}</td>
                        <td>{{Applicant_Addr.A_State}}</td>
                        <td>{{Applicant_Addr.A_Country}}</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <br>
            <div>
               <h1>Business Details</h1>
               <table>
                <thead>
                    <tr>
                        <th>ID </th>
                        <th>Type</th>
                        <th>Name</th>
                        <th>PAN</th>
                        <th>Contact</th>
                        <th>Established Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{Business_Details.B_ID}}</td>
                        <td>{{Business_Details.B_Type}}</td>
                        <td>{{Business_Details.B_name}}</td>
                        <td>{{Business_Details.B_PAN}}</td>
                        <td>{{Business_Details.B_contact}}</td>
                        <td>{{Business_Details.B_Estb}}</td>
                    </tr>
                </tbody>
            </table>
           </div>
               <h3>Address</h3>
               <table>
                <thead>
                    <tr>
                        <th>House NO </th>
                        <th>Street</th>
                        <th>Locality</th>
                        <th>City</th>
                        <th>PinCode</th>
                        <th>State</th>
                        <th>Country</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{Business_Addr.B_House_No}}</td>
                        <td>{{Business_Addr.B_Street}}</td>
                        <td>{{Business_Addr.B_Locality}}</td>
                        <td>{{Business_Addr.B_City}}</td>
                        <td>{{Business_Addr.B_PINCode}}</td>
                        <td>{{Business_Addr.B_State}}</td>
                        <td>{{Business_Addr.B_Country}}</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <br>
            <div>
               <h1>Financials</h1>
                <h2>Assets</h2>
               <table>
                <thead>
                    <tr>
                        <th>Fixed Assets</th>
                        <th>Intangible Assets</th>
                        <th>Current Assets</th>
                        <th>Non Current Assets</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{a.Fixed_Assets}}</td>
                        <td>{{a.Intangible_Assets}}</td>
                        <td>{{a.Current_Assets}}</td>
                        <td>{{a.Non_Current_Assets}}</td>
                    </tr>
                </tbody>
            </table>
            <br>
                <h2>Capital</h2>
               <table>
                <thead>
                    <tr>
                        <th>Issued Capital</th>
                        <th>Paid Up Capital</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{c.Issued_Capital}}</td>
                        <td>{{c.Paid_Up_Capital}}</td>
                    </tr>
                </tbody>
            </table>
            <br>
                <h2>Liabilities</h2>
               <table>
                <thead>
                    <tr>
                        <th>Term Liabilities</th>
                        <th>Current Liabilities</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{l.Term_Liabilities}}</td>
                        <td>{{l.Current_Liabilities}}</td>
                    </tr>
                </tbody>
            </table>
            <br>
                <h2>Cash Flows</h2>
               <table>
                <thead>
                    <tr>
                        <th>Operations Activities</th>
                        <th>Investing Activities</th>
                        <th>Financing Activities</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{cf.Operations_Activities}}</td>
                        <td>{{cf.Investing_Activities}}</td>
                        <td>{{cf.Financing_Activities}}</td>
                    </tr>
                </tbody>
            </table>
            <br>
                <h2>Reserves</h2>
               <table>
                <thead>
                    <tr>
                        <th>Subsidy from Govdernment</th>
                        <th>General Reserves</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{r.Subsidy_Gov}}</td>
                        <td>{{r.General_Reserves}}</td>
                    </tr>
                </tbody>
            </table>
           </div>
           <br>
             <form action="" method="POST">
            {% csrf_token %}
           <button type="submit" name="Back" >Back</button>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <button type="submit" name="Approve">Approve Application</button>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Reject</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Rejection Confirmation</h4>
        </div>
        <div class="modal-body">
          <label for="reason" id="label1">Reject Reason:</label>
          <select id="reason" name="reason1">
          <option value="A">Not Eligible</option>
          <option value="B">Too much amount</option>
          </select>     
          <br><br>
          <button type="submit" name="Reject" id="btn2"  >Reject</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
         <button type = "submit" value = "Click Me" name="Blacklist" onclick = "return getConfirmation()">Blacklist Applicant</button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       </form>
    </body>
 </html>
 {% endblock %}